/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/


.hidden {
  display: none;
}
.suggest-contain{
  position: absolute;
  max-height: 200px;
  overflow: scroll;
  z-index: 1;
}



/*Typography*/
.card-title{
  font-weight: 600;
  font-size: 2em;
}

.instructions{
  color: gray;
}

.fa-caret-right{
  color: gray;
}